<a href="https://colab.research.google.com/github/reiple/ds2_2023_spark/blob/main/07.%20Recommendation_skel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#!sudo apt-get install -y openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.2.4/spark-3.2.4-bin-hadoop3.2.tgz
!tar xf spark-3.2.4-bin-hadoop3.2.tgz
!pip install -q findspark

In [2]:
import findspark
findspark.init("/content/spark-3.2.4-bin-hadoop3.2")

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext

In [6]:
from google.colab import drive
drive.mount('/content/drive')
gpath = '/content/drive/MyDrive/dataset/spark/data07/'

Mounted at /content/drive

In [7]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

colNames = ["movieId", "title", "genres"]

movies_schema = StructType()
for name in colNames:
    if name == "movieId":
        movies_schema.add(StructField(name, IntegerType(), True))
    else:
        movies_schema.add(StructField(name, StringType(), True))

movies = spark.read.csv(gpath+"movies.csv", header=True, schema=movies_schema)
movies.take(1)

[Row(movieId=1, title='Toy Story (1995)', genres='Adventure|Animation|Children|Comedy|Fantasy')]

In [ ]:
movies.printSchema()

root
 |-- movieId: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- genres: string (nullable = true)

In [8]:
movies_pd = movies.toPandas().set_index("movieId")

In [9]:
movies_pd[movies_pd['title'].str.contains("Iron Man")]

,title,genres
movieId,,
59315,Iron Man (2008),Action|Adventure|Sci-Fi
77561,Iron Man 2 (2010),Action|Adventure|Sci-Fi|Thriller|IMAX
102007,"Invincible Iron Man, The (2007)",Animation
102125,Iron Man 3 (2013),Action|Sci-Fi|Thriller|IMAX
142056,Iron Man & Hulk: Heroes United (2013),Action|Adventure|Animation
167296,Iron Man (1931),Drama

In [10]:
from pyspark.sql.types import StructType, StructField, IntegerType, DoubleType

colNames = ["userId", "movieId", "rating", "timestamp"]

ratings_schema = StructType()
for name in colNames:
    if name == "rating":
        ratings_schema.add(StructField(name, DoubleType(), True))
    else:
        ratings_schema.add(StructField(name, IntegerType(), True))

ratings = spark.read.csv(gpath+"ratings.csv", header=True, schema=ratings_schema)

ratings.take(1)

[Row(userId=1, movieId=1, rating=4.0, timestamp=964982703)]

In [11]:
(trainData, testData) = ratings.randomSplit([0.8, 0.2])

In [12]:
from pyspark.ml.recommendation import ALS
als = ALS(userCol="userId", itemCol="movieId", ratingCol="rating", coldStartStrategy="drop")
model = als.fit(trainData)

In [13]:
from pyspark.ml.evaluation import RegressionEvaluator
predictions = model.transform(testData)
evaluator = RegressionEvaluator(metricName="rmse", labelCol="rating", predictionCol="prediction")
rmse = evaluator.evaluate(predictions)
print("Root-mean-square error = " + str(rmse))

Root-mean-square error = 0.8840754763887899

In [14]:
model.userFactors.orderBy("id").show(truncate=False)

/content/spark-3.2.4-bin-hadoop3.2/python/pyspark/sql/context.py:125: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

+---+--------------------------------------------------------------------------------------------------------------------------------+
|id |features                                                                                                                        |
+---+--------------------------------------------------------------------------------------------------------------------------------+
|1  |[-0.29205742, 0.34915766, -0.6036778, -0.06583757, 0.40565205, -1.2432356, -0.24978857, -1.1309153, -1.0844849, -0.539725]      |
|2  |[-0.24197358, 0.62042075, -0.22086847, 0.2201505, 0.9026202, -0.941432, -0.27370158, -0.36725584, -0.98535264, -0.6967393]      |
|3  |[-0.66076666, -0.49755394, -1.0001291, -0.15619631, -1.3842918, 0.023976957, -0.56651264, -0.13730843, -0.7969261, -0.37650508] |
|4  |[-0.46495432, -0.014777346, -0.27764076, 0.7400582, -0.3336163, -0.983748, 0.9495335, -1.1785202, -0.9520781, -0.357894]        |
|5  |[-0.3616469, 0.43126366, -0.60394454, 0.19393268, 0.691118, -0.5613147, 0.77498543, -0.96518964, -0.832053, 0.20308518]         |
|6  |[-0.17149062, 0.6665232, -0.08028798, -0.5131741, 0.15539569, -0.41930288, -0.017012227, -0.53265285, -1.6104999, -0.7286515]   |
|7  |[0.016430095, 0.82794815, -0.9088364, 0.7507567, 0.8268677, -0.48279887, 0.64387214, -0.6741036, -0.81672215, -0.4118918]       |
|8  |[-0.7042525, 0.30667773, -0.43523526, -0.053009905, 0.64781314, -0.55535054, 0.019856244, -0.62544763, -1.2868539, -0.002908711]|
|9  |[0.07332254, 0.52529395, -0.5824359, 0.39415947, 0.091741756, -0.8224529, -0.64098006, -1.397045, -0.66666627, -0.09508169]     |
|10 |[-0.050810456, 0.8378025, -0.4018734, -0.44443735, 0.73471475, 0.7129449, -0.19200335, -1.3042, -0.5027756, -1.0543023]         |
|11 |[-0.7389052, 0.46744204, -0.19913347, -0.15059586, 0.26268026, -0.4783028, -0.47706285, -0.86788875, -1.468036, -0.0068955915]  |
|12 |[-0.39206675, 1.2697524, -0.5739728, -0.49159905, 1.2031054, -0.30461636, -6.3636695E-4, -1.004279, -1.0087217, -0.6657554]     |
|13 |[-0.17994711, 0.37297365, -0.9352002, -0.35224783, 0.07674465, -0.32270885, -0.74651057, -1.3364134, -0.99272776, 0.10718088]   |
|14 |[0.046350237, 0.32434225, -0.2972834, 0.08598435, 0.47870904, 0.46753076, -0.009085822, -0.62955654, -1.7579756, -0.30956864]   |
|15 |[-0.25459316, 0.43047127, -0.19400886, -0.59457695, -0.21902272, -0.49516016, -0.49384394, -1.1076494, -1.1193457, 0.46697223]  |
|16 |[-0.15606746, 0.28971773, -0.4718477, 0.0069108834, 0.3319346, -0.5837801, -0.09711958, -0.7451585, -1.1699566, 0.007924192]    |
|17 |[0.020328775, 0.5064168, -0.46377537, -0.06763912, 0.3630554, -0.53326106, -0.33358145, -1.0869443, -1.181398, -0.22740214]     |
|18 |[-0.14407176, 0.477212, -0.35295033, -0.048185054, 0.4399205, -0.4986707, -0.26710844, -0.9274402, -1.227259, -0.06623562]      |
|19 |[-0.405308, 0.5576654, -0.24059153, 0.47557938, -0.24914688, -0.5609332, 0.0010520841, -0.8512452, -0.90837955, -0.10740773]    |
|20 |[-0.2590487, 0.8921905, -0.017879104, -0.28645274, 0.38898903, -0.8134292, 0.482699, -1.2558826, -0.98115057, 0.096035704]      |
+---+--------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [16]:
model.itemFactors.orderBy("id").show(truncate=False)

+---+-------------------------------------------------------------------------------------------------------------------------------+
|id |features                                                                                                                       |
+---+-------------------------------------------------------------------------------------------------------------------------------+
|1  |[-0.21842325, 0.7451113, -0.5239817, -0.33095688, 0.64533126, -0.79889935, 0.3627885, -0.92462224, -1.4766064, -0.31170443]    |
|2  |[-0.37627935, 0.72043234, -0.26333985, -0.5165242, 0.23764294, -0.76305556, -0.18568738, -0.76264614, -1.2970676, -0.40425706] |
|3  |[-0.46214336, 0.3618713, -0.22174233, -0.061978243, 0.53842604, -0.1355299, -0.4121083, -0.9656642, -1.300933, -0.6196537]     |
|4  |[-0.19115472, 0.16835125, 0.0345286, -0.20277996, 0.01844377, 0.11560086, 0.036021303, -0.6700257, -1.2839785, -0.24854153]    |
|5  |[-0.28780246, 0.784582, -0.28475603, -0.4524013, 0.08934036, -0.74942446, 0.0332176, -0.6746488, -0.9561984, -0.6233158]       |
|6  |[-0.3565536, 0.3038814, -0.40092587, 0.27311525, 0.41882992, -0.7097007, -0.38786173, -1.0275406, -1.7109854, 0.08870718]      |
|7  |[-0.5767434, 0.9651202, 0.06615724, -0.35513493, 0.47988963, -0.3961496, 0.29877788, -0.77609664, -1.2115299, -0.071584746]    |
|8  |[0.059730627, 0.57924783, -1.1724612, 0.08175006, 0.3544069, -0.0719431, 0.0056135748, -0.25375873, -0.986996, -1.2222188]     |
|9  |[0.16109864, 0.6043158, -0.7057666, 0.17725107, -0.14200307, -0.39467657, -0.042974632, -0.4932081, -1.2204119, -0.78886247]   |
|10 |[0.09701991, 0.5635176, -0.72722065, 0.34202075, 0.38080782, -0.010195906, -0.3423363, -0.79457533, -1.5032156, -0.5616558]    |
|11 |[-0.50158525, 0.5943818, -0.5223492, -0.042058535, 0.48467866, -0.5101881, 0.4082662, -0.44894415, -1.6536269, -0.6864825]     |
|12 |[0.11650084, -0.17150228, -0.41535342, 0.09871895, 0.97590494, 0.21295704, -0.4495042, -0.014977967, -1.720395, -0.46821585]   |
|13 |[-0.060954183, 0.788551, -0.2973392, 0.15704112, 0.19940831, -0.59921086, 0.28754702, -1.0426021, -1.0184338, -0.011833877]    |
|14 |[-0.3043434, 0.56128055, -0.20234483, -0.057999354, 1.1569254, -0.73017484, 0.5657758, -0.99373716, -1.3311656, -0.097145505]  |
|15 |[0.33702996, -0.15763377, 0.057097625, -0.5070307, -0.11075243, -0.38879967, -0.255048, -0.67232037, -1.8367001, -0.30793393]  |
|16 |[-0.16423312, 0.5319256, -0.52968585, 0.020016383, 1.0484354, -0.44057068, -0.3360746, -0.85046864, -1.5772488, 0.05405503]    |
|17 |[-0.41807905, 0.77085495, 0.44588977, 0.21426922, 0.4702402, 0.08021052, 0.29844132, -1.4897195, -1.5782307, 0.43394974]       |
|18 |[-0.34896624, 0.12010791, -0.4172019, 0.05459271, 0.61453825, -0.7539255, -0.31071088, -0.7566982, -1.6134945, -0.12464968]    |
|19 |[-0.13685243, -0.18026881, -0.6664812, -0.051593654, 0.26821092, -0.82994175, -0.72666216, -0.9028528, -0.75491434, -0.5736123]|
|20 |[-0.1603235, 0.40429392, -0.7610303, -0.6005784, 0.9616037, 0.11294515, 0.05946565, -0.8344504, -0.83793014, 0.10019354]       |
+---+-------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [17]:
# who is the most movie lover
from collections import Counter
user_list = [int(row['userId']) for row in ratings.collect()]
c = Counter(user_list)
print(c.most_common(5))

[(414, 2698), (599, 2478), (474, 2108), (448, 1864), (274, 1346)]

In [18]:
# recommend for one user
targetUserID = c.most_common()[0][0]
userWatched = ratings.where(ratings.userId == targetUserID)
userWatchedPD = userWatched.toPandas()
userWatchedPD['title'] = userWatchedPD['movieId'].apply(lambda x: movies_pd.loc[x].title)
userWatchedPD

,userId,movieId,rating,timestamp,title
0,414,1,4.0,961438127,Toy Story (1995)
1,414,2,3.0,961594981,Jumanji (1995)
2,414,3,4.0,961439278,Grumpier Old Men (1995)
3,414,5,2.0,961437647,Father of the Bride Part II (1995)
4,414,6,3.0,961515642,Heat (1995)
...,...,...,...,...,...
2693,414,180045,4.0,1515207301,Molly's Game (2017)
2694,414,180497,4.0,1525548614,The Post (2017)
2695,414,180985,3.5,1527978072,The Greatest Showman (2017)
2696,414,184791,2.5,1519592410,Fred Armisen: Standup for Drummers (2018)
2697,414,187595,3.5,1527977920,Solo: A Star Wars Story (2018)

In [19]:
userWatched.show()

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
|   414|      1|   4.0| 961438127|
|   414|      2|   3.0| 961594981|
|   414|      3|   4.0| 961439278|
|   414|      5|   2.0| 961437647|
|   414|      6|   3.0| 961515642|
|   414|      7|   3.0| 961439170|
|   414|      8|   3.0| 961594849|
|   414|     10|   3.0| 961515863|
|   414|     11|   5.0|1052148205|
|   414|     15|   2.0| 961514611|
|   414|     16|   3.0| 961517557|
|   414|     17|   4.0| 961513829|
|   414|     18|   3.0| 961682128|
|   414|     21|   4.0| 961438199|
|   414|     22|   3.0| 961518227|
|   414|     23|   2.0| 961682276|
|   414|     24|   3.0| 961436964|
|   414|     25|   3.0| 961517140|
|   414|     27|   2.0| 961518812|
|   414|     31|   3.0| 961518520|
+------+-------+------+----------+
only showing top 20 rows


# 새로운 사용자에게 영화 추천

In [20]:
user = userWatched.distinct()
userSubsetRecs = model.recommendForUserSubset(user, 10).toPandas()
userSubsetRecs['title'] = userSubsetRecs['recommendations'].apply(lambda x: [movies_pd.loc[i[0]].title for i in x])
for item in userSubsetRecs.title:
    print(item)

/content/spark-3.2.4-bin-hadoop3.2/python/pyspark/sql/context.py:125: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

['Neon Genesis Evangelion: Death & Rebirth (Shin seiki Evangelion Gekijô-ban: Shito shinsei) (1997)', 'On the Beach (1959)', 'Saving Face (2004)', 'Cherish (2002)', 'Rain (2001)', 'Belle époque (1992)', 'Topo, El (1970)', 'Pierrot le fou (1965)', 'Wild Parrots of Telegraph Hill, The (2003)', 'Chungking Express (Chung Hing sam lam) (1994)']

In [21]:
users = ratings.select(als.getUserCol()).distinct().limit(3)
users.show()

+------+
|userId|
+------+
|   148|
|   463|
|   471|
+------+

In [22]:
# Generate top 5 movie recommendations for a set of users
users = ratings.select(als.getUserCol()).distinct().limit(3)
userSubsetRecs = model.recommendForUserSubset(users, 5)
userSubsetRecs.show(truncate=False)

/content/spark-3.2.4-bin-hadoop3.2/python/pyspark/sql/context.py:125: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

+------+-----------------------------------------------------------------------------------------------+
|userId|recommendations                                                                                |
+------+-----------------------------------------------------------------------------------------------+
|471   |[{89904, 4.9865155}, {1411, 4.9009767}, {68945, 4.808493}, {3379, 4.808493}, {49932, 4.625464}]|
|463   |[{33649, 5.0806723}, {945, 4.935425}, {69524, 4.735538}, {78836, 4.7312837}, {7071, 4.72177}]  |
|148   |[{720, 4.8241024}, {33649, 4.63185}, {98491, 4.4597573}, {160718, 4.385815}, {928, 4.3759665}] |
+------+-----------------------------------------------------------------------------------------------+

In [23]:
# Generate top 5 user recommendations for a set of movies
movies = ratings.select(als.getItemCol()).distinct().limit(3)
movieSubSetRecs = model.recommendForItemSubset(movies, 5)
movieSubSetRecs.show(truncate=False)

+-------+---------------------------------------------------------------------------------------+
|movieId|recommendations                                                                        |
+-------+---------------------------------------------------------------------------------------+
|1580   |[{53, 4.917813}, {543, 4.8733044}, {276, 4.6668625}, {492, 4.612564}, {243, 4.5983534}]|
|3175   |[{53, 4.89008}, {543, 4.502476}, {276, 4.4760995}, {452, 4.465859}, {93, 4.452167}]    |
|2366   |[{423, 5.036814}, {35, 4.8221164}, {206, 4.7859344}, {43, 4.6917186}, {99, 4.636307}]  |
+-------+---------------------------------------------------------------------------------------+

In [24]:
%%time
# Generate top 10 movie recommendations for each user
userRecs = model.recommendForAllUsers(10)
userRecs.show()

+------+--------------------+
|userId|     recommendations|
+------+--------------------+
|     1|[{68945, 5.763310...|
|     3|[{70946, 5.116101...|
|     5|[{3089, 5.1034756...|
|     6|[{33649, 5.210644...|
|     9|[{6380, 5.2470164...|
|    12|[{77846, 6.226051...|
|    13|[{161582, 5.36127...|
|    15|[{3742, 4.8574586...|
|    16|[{68945, 4.528044...|
|    17|[{33649, 5.221736...|
|    19|[{1949, 4.14611},...|
|    20|[{1262, 5.42218},...|
|    22|[{3223, 5.2736874...|
|    26|[{68945, 4.57121}...|
|    27|[{33649, 4.963053...|
|    28|[{7842, 4.522045}...|
|    31|[{3404, 5.308219}...|
|    34|[{7842, 5.5971084...|
|    35|[{3404, 5.5153317...|
|    37|[{86345, 5.617925...|
+------+--------------------+
only showing top 20 rows

CPU times: user 21.1 ms, sys: 979 µs, total: 22.1 ms
Wall time: 3.87 s

In [25]:
%%time
# Generate top 10 user recommendations for each movie
movieRecs = model.recommendForAllItems(10)
movieRecs.show()

+-------+--------------------+
|movieId|     recommendations|
+-------+--------------------+
|      1|[{53, 5.399724}, ...|
|      3|[{53, 4.6850886},...|
|      5|[{53, 4.3066616},...|
|      6|[{53, 5.468882}, ...|
|      9|[{543, 4.694057},...|
|     12|[{543, 4.3111777}...|
|     13|[{43, 4.038104}, ...|
|     15|[{543, 5.1243367}...|
|     16|[{53, 5.26572}, {...|
|     17|[{206, 4.8083835}...|
|     19|[{53, 4.247048}, ...|
|     20|[{12, 4.047288}, ...|
|     22|[{53, 4.677027}, ...|
|     26|[{53, 4.638265}, ...|
|     27|[{12, 4.287132}, ...|
|     28|[{12, 5.417323}, ...|
|     31|[{43, 4.913698}, ...|
|     34|[{99, 4.884393}, ...|
|     40|[{544, 4.926397},...|
|     41|[{191, 4.6762753}...|
+-------+--------------------+
only showing top 20 rows

CPU times: user 32.7 ms, sys: 9.5 ms, total: 42.2 ms
Wall time: 9.07 s

### **도전**

In [30]:
from pyspark.sql import Row
customUserData = sc.parallelize(
    [Row(99999999, 59315, 5, 123456789),
     Row(99999999, 77561, 4, 123456789),
     Row(99999999, 102125, 4, 123456789),
     Row(99999999, 190297, 1, 123456789),
     Row(99999999, 155384, 2, 123456789),
     Row(99999999, 170763, 1, 123456789),
]
).toDF(["userId", "movieId", "rating", "timestamp"])

ratings_with_userData = ratings.union(customUserData)

from pyspark.ml.recommendation import ALS

als = ALS(rank=50, regParam=0.05, maxIter=10,
          userCol="userId", itemCol="movieId", ratingCol="rating", coldStartStrategy="drop")
model = als.fit(ratings_with_userData)

In [32]:
import pandas as pd
pd.set_option('display.max_colwidth', None)
userSubsetRecs = model.recommendForUserSubset(customUserData.select("userId").distinct(), 10).toPandas()
userSubsetRecs['title'] = userSubsetRecs['recommendations'].apply(lambda x: [movies_pd.loc[i[0]].title for i in x])
userSubsetRecs

/content/spark-3.2.4-bin-hadoop3.2/python/pyspark/sql/context.py:125: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

,userId,recommendations,title
0,99999999,"[(59315, 4.878103256225586), (2571, 4.55980920791626), (58559, 4.5289716720581055), (34405, 4.464439392089844), (89745, 4.455581188201904), (1198, 4.381580352783203), (1210, 4.371745586395264), (1196, 4.364892959594727), (1291, 4.363119125366211), (57669, 4.33685827255249)]","[Iron Man (2008), Matrix, The (1999), Dark Knight, The (2008), Serenity (2005), Avengers, The (2012), Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981), Star Wars: Episode VI - Return of the Jedi (1983), Star Wars: Episode V - The Empire Strikes Back (1980), Indiana Jones and the Last Crusade (1989), In Bruges (2008)]"